# ==========================
# Environment & dependencies
# ==========================
.venv/
venv/
vagrant_venv/
rosemary.egg-info/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ==========================
# IDE & editor files
# ==========================
.idea/
.vscode/
.DS_Store

# ==========================
# Logs & coverage
# ==========================
*.log
app.log
app.log.*
deployments.log
.coverage
htmlcov/
.pytest_cache/
coverage.xml

# ==========================
# Config & environment
# ==========================
.env
.version
nginx.prod.ssl.conf
entrypoint.sh

# ==========================
# Temporary & test files
# ==========================
uploads/
test_file.txt
fakenodo_db.json
# ==========================
# Vagrant
# ==========================
.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log

# ==========================
# Custom ignores
# ==========================
.moduleignore
